<layout name='layout/findpassword' />
	<div class="resetbox">
		<form method="post" >
			<div class="VirityThead">
				<div ><b>确认账户</b><span>1</span></div>
				<h1>>></h1>
				<div ><b>验证账户</b><span>2</span></div>
				<h1>>></h1>
				<div class="active"><b>重置账户</b><span>3</span></div>
			</div>
			<div class="FormInfo text-center">
				<div id="oldpassword">
					<label><b>旧密码：</b></label>
					<input type="password" name="oldpw">
				</div>
				<div id="newpassword"> 
					<label id="newpw"><b>新密码：</b></label>
					<input type="password" name="newpw">
				</div>
				<div id="confirmpassword">
					</label>
					<label id="confirm"><b>确认密码：</b></label>
					<input type="password" name="confirpw">
				</div>
				<div id="modifypw">
					<input type="button" name="modifypw" value="修改">
				</div>
			</div>
		</form>
	</div>