<layout name='layout/findpassword' />
		<form method="post">
			<div class="VirityThead">
				<div ><b>确认账户</b><span>1</span></div>
				<h1>>></h1>
				<div class="active"><b>验证账户</b><span>2</span></div>
				<h1>>></h1>
				<div><b>重置账户</b><span>3</span></div>
			</div>
			<div class="FormInfo text-center">

				<div class="VirityEmailInfo">
					<input type="text" name="viritynum" placeholder="验证码">
					<button type="button" name="email-info">发送</button>
				</div>
				<div >
					<input type="button" name="v-next" value="下一步">
				</div>
			</div>
		</form>
